/* ICI NOU AVONS LE CSS POUR LE ECRANS [500, +oo[ */

@media (min-width:500px){
    section.header{
        /* debut de la partie header */
        width: 100%;
        height: 232px;
        border: 2px solid black;
        background-color: #043C7C;
    }
    .navbar{
        width: 95%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0 auto;
    }
    
    .logo{
        margin-top: 20px;
        width: 122px;
        height: 62px;
        border-style: dotted;
    }
    .infos{
        margin-top: 30px;
        width: 400px;
        height: 50px;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .co_deco{
        margin-top: 45px;
        width: 200px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
    }
    
    .connexion{
        width:100px ;
        height:40px ;
        border-radius: 30px;
        border: 2px solid black;
        text-align: center;
        background-color: white;
    
    }
    .deconnexion{
        width:100px ;
        height:40px ;
        border-radius: 30px;
        border: 2px solid black;
        text-align: center;
        background-color: white;
        
    }
    
    .Zonerecherche{
        width: 250px;
        height: 30px;
        margin-top: 45px;
        /* border: 2px solid black; */
        margin-right: 10px;
        /* background: white; */
        /* text-align: center; */
    
       /* Fin de la partie header */
    }
    .text_news{
        text-align: center;
        color: white;
    }
    .title1 h1{
        font-weight: bold;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    .femme_casque{
        width: 100%;
        height: 500px;
        background-color: blueviolet;
    }
    .fem_cas{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        height: 400px;
        border: 2px solid black;
        margin: 0 auto;
    }
    .fe_ca{
        width: 45%;
        height: 300px;
        border: 2px solid black;
    }
    .text{
        width: 45%;
        height: 300px;
        border: 2px solid black;
    }
} 

/* _________________________________________________________________________________ */
/* _________________________________________________________________________________ */
/* ################################################################################# */

/* ICI NOUS AVONS LE CSS AVEC [10, 500] */

@media (min-width:10px) and (max-width:500px){
    
    section.header{
        /* debut de la partie header */
        display: flex;
        flex-direction: column;
        width: 100%;
        grid-template-columns: 100%;
        /* border: 2px solid black; */
        justify-content: center;
        flex-wrap: wrap;
        background-color: #043C7C;
        height: 400px;
    }
    .navbar{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
        margin-right: 100px;
        
    }

    .logo{
        margin-top:-67px;
        width: 45px;
        height: 40px;

    }
    .infos{
        /* margin-top: 30px;
        width: 400px;
        height: 50px; */
        margin-top: 10px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 10px;
    }
    
    
    .co_deco{
        margin-top: -280px;
        width: 200px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 130px;
       
    }
    
    .connexion{
        width:110px ;
        height:50px ;
        border-radius: 30px;
        border: 2px solid black;
        text-align: center;
        background-color: white;
    
    }
    .deconnexion{
        width:110px ;
        height:50px ;
        border-radius: 30px;
        border: 2px solid black;
        text-align: center;
        background-color: white;
        
    }
    
    .Zonerecherche{
        margin-top: -160px;
        text-align: center;
        margin-left: 110px;
    
       /* Fin de la partie header */

}
.text_news{
    margin-left: 70px;
    margin-top: 50px;
}

.femme_casque{
    width: 100%;
    height: 600px;
    background-color: blueviolet;
}
.fem_cas{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    height: 550px;
    border: 2px solid black;
    margin: 0 auto;
}
.fe_ca{
    width: 95%;
    height: 250px;
    border: 2px solid black;
}
.text{
    width: 95%;
    height: 250px;
    border: 2px solid black;
}
.letexte{
    font-size: x-large;
}
.image img{
    margin-top: -20px;
    height: 220px;
    width: 100%;
}

}